version: '3.8'
services:
    mongo:
        image: mongo
        restart: always
        ports:
            - 27017:27017
        volumes:
            - mongo-data:/data/db
        environment:
            MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
            MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
        healthcheck:    
            test: ["CMD-SHELL", "echo 'db.runCommand(\"ping\").ok' | mongo --quiet"]    
            interval: 10s    
            timeout: 5s    
            retries: 5


    mongo-express:
        image: mongo-express
        restart: always
        ports:
            - 8081:8081
        environment:
            ME_CONFIG_MONGODB_URL: mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@mongo:27017/
            ME_CONFIG_BASICAUTH_ENABLED: true
            ME_CONFIG_BASICAUTH_USERNAME: ${ME_CONFIG_BASICAUTH_USERNAME}
            ME_CONFIG_BASICAUTH_PASSWORD: ${ME_CONFIG_BASICAUTH_PASSWORD}
        healthcheck:
            test: ["CMD", "curl", "-f", "http://localhost:8081"]
            interval: 10s
            timeout: 5s
            retries: 5
            
    
    redis:
        image: redis
        restart: always
        ports:
            - 6379:6379
        command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}", "--appendonly", "yes"]
        volumes:
            - redis-data:/data
        healthcheck:
            test: ["CMD", "redis-cli", "-a", "${REDIS_PASSWORD}", "ping"]
            interval: 10s
            timeout: 5s
            retries: 5
volumes:
    mongo-data:
    redis-data:
